html {
	box-sizing: border-box;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 24em;
}

.Aligner-item {
  flex: 1;
  max-width: 50%;
  margin-right: 3em;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Demo {
	width: 100%;
	background: hsla(31,15%,50%,.1);
	border-radius: 3px;
	padding: .8em 1em 0;
}
